
@font-face {
  font-family: "ArialRegular";
  src: url("~assets/fonts/ArialRegular.eot");
  src: local('☺'), url("~assets/fonts/ArialRegular.woff") format("woff"), url("~assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT_Sans_bold";
  src: url("~assets/fonts/ptsans-bold.eot");
  src: local('☺'), url("~assets/fonts/ptsans-bold.woff") format("woff"), url("~assets/fonts/ptsans-bold.ttf") format("truetype"), url("~assets/fonts/ptsans-bold.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
