
html {
  font-family: 'ArialRegular';
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 20px;

    @include respond-to(phone) {
      font-size: 16px;
    }
}

body {
    background: $bacBody;
    color: $colorBody;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $wide;
  margin: 0 auto;

  @include respond-to(tablet) {
      width: $small;
  }

  @include respond-to(tablet-small) {
      width: 100%;
  }

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button, a {

  @media only screen and (min-width: 768px) {
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;

    &:after, &:before {
      -webkit-transition: .35s;
      -moz-transition: .35s;
      -ms-transition: .35s;
      -o-transition: .35s;
      transition: .35s;
    }
  }

  &:focus {
    outline: none;
    border: none;
  }

}

p, h2, h3, h4, h5, ul, h1, button, div, a, li {
    margin: 0;
    padding:0;
}

p {
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: normal;
}

b, strong {
  font-weight: bold;
}

.title {
  font-size: .65rem;
  text-transform: initial;
  line-height: .75rem;
  font-weight: normal;

    @include respond-to(phone) {
    }
}


select, input, textarea {
  border: none;
  outline: none;
  width: 100%;

    &:active, &:focus, &:visited {
      border: none;
      outline: none;
    }
}


.text-center {
    text-align: center;
}

.bg-green {
  background: $green;
}

.bg-blue-light {
  background: $blue-light;
}
