// Media width
$phone: 320px;
$min-tablet:380px;
$telephone:550px;
$big-phone:650px;
$small: 767px;
$wide: 1190px;


//Fonts
$ffRegular: 'ArialRegular';

//Colors
$colorBody: #333333;
$gray: #808080;
$gray-date: #8f8f8f;
$gray-light: #DADADA;
$gray-light-b: #C4CBCF;
$green: #B1E19B;
$blue-light: #ACE2F8;
$pink: #005DA1;
$yellow: #FDD639;



//Background
$bacBody: #ffffff;
$bacUserDescr: #FFFBC8;
$bacMessage: #F2FBFF;
$bacFooter: #F2F2F2;

