// Media width
$phone: 320px;
$min-tablet:380px;
$telephone:550px;
$big-phone:650px;
$small: 767px;
$wide: 1190px;


//Fonts
$ffRegular: 'ArialRegular';

//Colors
$menuLinks: #ffffff;
$colorBody: #333333;
$green: #28BEB2;
$green-dark: #1F988E;
$green-light: #4FAFA7;



//Background
$bacMenu: #131722;
